// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_user
 {
 	padding-left: 100px;
 }
 #boot
 {
 	padding-top:30px;
 	padding-left:100px;
 }
 .page-header
 {
 text-align: center;
 background-color:green;
 height:30%;
 }